*{
    padding: 0;
    margin: 0;
}
html{
    background: linear-gradient(170deg, #0d0c0c, #0e0e0e, #000000, #3f3f3f);
    color: white;    
    height: 100%;
    font-family: Raleway;
}
.box1,.box2,.box3,.box4,.box5{
    height:70vh;
    width: 30vw;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}
.box1{
    background-image: linear-gradient( 8.2deg,  rgba(33,3,40,1) 7.5%, rgba(65,5,72,1) 88.7% );
    transform:translate(-50%,-50%) rotate(-20deg) ;
}
.box2{
    background-image: radial-gradient( circle farthest-corner at 96.1% 7.2%,  rgba(9,178,62,1) 0%, rgba(19,19,19,1) 100.2% );
    transform:translate(-50%,-50%) rotate(-10deg);
}
.box4{
    background: linear-gradient(200.6deg, #0dcdcd 0%, #300860 100%);
    transform:translate(-50%,-50%) rotate(-40deg);
}
.box5{
    background: radial-gradient( circle 700px at 40% 7.2%,  rgba(37,89,222,1) 0%, rgba(37,89,222,1) 7.5%, rgba(4,4,29,1) 44.7% );
    display: flex;
    transform:translate(-50%,-50%) rotate(-30deg);
}
.box3{
    background: linear-gradient( 100.6deg,  rgba(204,0,0,1) 11.2%, rgba(68,0,0,1) 100.6% );
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column;

}
.heading{
    text-align: center;
    font-size: 35px;
    padding:30px;
    margin-bottom: 10px;
    font-weight: 600;
}
.boxes{
    display: flex;

}
.first,.second{
    padding: 20px;
    height: 200px;
    width: 150px;
    text-align: center;
}
.first {
    margin-top: -20px;
    width: 27vw;
    border-radius: 20px;
    position: absolute;
    margin-left: 10px;
    background-image: url('images/flipkart.png'); /* Replace with your image */
    background-size: contain; /* Ensures the full image fits */
    background-position: center; /* Centers the image */
}
.second {
    width: 27vw;
    border-radius: 20px;
    position: absolute;
    margin-left: -700px;
    margin-top: 225px;
    background-image: url('images/nature.png'); /* Replace with your image */
    background-size: contain; /* Ensures the full image fits */
    background-position: center; /* Centers the image */
}

.textflip{
    display: flex;
}
.textnature{
    display: flex;
}
.flip{
    margin-top: 40px;
    text-align: center;
    font-size: 30px;
    margin-left: 25px;
    letter-spacing: 5px;
    line-height: 1.5;


}
.nat{
    margin-top: 250px;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 5px;


}
a{
    text-decoration: none;
    color: inherit;
}